.modalSection {
  @apply flex items-center justify-center backdrop-blur-sm bg-modal bg-opacity-30 fixed top-0 right-0 left-0 z-50 w-full h-full md:inset-0 md:h-full;
}

.modalField {
  @apply relative p-20 flex flex-col items-center justify-start rounded-3xl gap-8 bg-white;
  min-height: 588px;
}

.modalIconBlock {
  @apply flex flex-col items-center justify-start gap-6;
}

.icon {
  @apply flex justify-center items-center rounded-full bg-night-100;
  width: 188px;
  height: 188px;
}

.iconText {
  @apply font-bold text-3xl text-night-900 capitalize;
}

.modalContent {
  @apply grid justify-center items-center gap-8;
}

.modalContentItem {
  @apply flex justify-start items-center flex-col flex-1;
}

.name {
  @apply mb-2 text-xl font-semibold underline text-center;
}

.members {
  @apply mb-5 text-base font-semibold underline text-center text-night-500;
}

.description {
  @apply text-base font-medium text-center;
}

.btnClose {
  @apply absolute top-8 right-9;
}
