.modalSection {
  @apply hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 md:h-full;
}

.openModal {
  @apply flex items-center justify-center backdrop-blur-sm;
  background: rgba(44, 47, 60, 0.2);
}

.modalField {
  @apply relative p-20 flex flex-col items-center justify-start gap-8;
  height: 588px;

  border-radius: 20px;
  background: #ffffff;
}

.modalIconBlock {
  @apply flex flex-col items-center justify-start gap-6;
}

.icon {
  @apply flex justify-center items-center rounded-full;
  width: 188px;
  height: 188px;
  background-color: #f2f3f7;
}

.iconText {
  @apply font-bold text-title-color-1 capitalize;
  font-size: 32px;
  line-height: 36px;
}

.modalContentSection {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 232px));
  justify-content: center;
  align-items: flex-start;

  @apply gap-8;
}

.modalContentItem {
  @apply flex justify-start items-center flex-col flex-1;
}

.modalContentTitle {
  @apply mb-4 text-2xl font-semibold underline text-center;
}

.modalContentDescription {
  @apply text-lg font-medium text-left;
}

.btnClose {
  @apply absolute top-6 right-6;
}
